header.header
	.header__inner
		.header__logo
			a(href="/").header__logo-i
				include ../../img/ico/logo.svg
		a(href="tel:0533391663").header__phone
			include ../../img/ico/phone-ico.svg
			.header__phone-i 053-3391663
