header.header
	.header__inner.site-container
		.header__logo
			a(href="javascript:void(0);").header__logo-i
				include ../../img/ico/logo.svg
		a(href="tel:0533391663").header__phone
			include ../../img/ico/phone-ico.svg
			.header__phone-i 053-3391663
